
.input-container {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: auto
} 
.item-container {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: auto
}