

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">firstname</th>
        <th scope="col"> lastname </th>
        <th scope="col"> email</th>
        <th scope="col"> joiningDate </th>
        <th scope="col"> roleDescription </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employe of employes ,index as i ">
        <td> {{ i }}</td>
        <td> {{ employe.firstname }} </td>
        <td> {{employe.lastname }} </td>
        <td> {{employe.email }} </td>
        <td> {{employe.joiningDate | date:'fullDate' }} </td>
        <td>   {{employe.roleDescription | cut:50:employe.showAll }}      
          <button class="read-more-button" (click)="toggleMore(employe)" *ngIf="!employe.showAll"> show more </button> 
          <button class="read-more-button" (click)="toggLeless(employe)" *ngIf="employe.showAll"> show less </button>
        </td>
        
      </tr>
     
    </tbody> 
  </table> 
  <br> 
  <br> 
